/.idea/leetcodegacha.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

# git update-index --skip-worktree file to ignore changes
# git update-index --no-skip-worktree file to unskip